/*公共样式public*/
.clear{zoom: 1;}   /*清浮动——IE系列*/
.clear:after{
	content: "";  display: block;  /*块级元素*/
	clear: both;
}
/*清除父元素浮动——标准浏览器：非IE系列*/

.fl{float: left;}
.fr{float: right;}

/*渐变*/
.gradient{
	background: -moz-linear-gradient(top,#ffffff,#f8f8f8); /*Chrome*/
	background: -webkit-linear-gradient(top,#ffffff,#f8f8f8);  /*火狐*/
	background: -ms-linear-gradient(top,#ffffff,#f8f8f8);   /*IE*/
	background: linear-gradient(top,#ffffff,#f8f8f8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f8f8f8)";  /*渐变*/
	+background: #f9f9f9;				
}
