@charset "utf-8";

/*样式重置*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
	margin: 0; padding: 0;
}
em{ font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{
	border: none; vertical-align: top;
}
table{border-collapse: collapse;}
input,textarea{
	outline: none;
}
textarea{
	resize: none; overflow: auto;
}
body{
	font-family: "微软雅黑"; font-size: 12px;
}
